body {
    background-color: rgb(54, 131, 156);
  }
  
  h1 {color: red; font-family: "sans-serif"; font-size: 200%;}
  p  {color: rgb(2, 36, 2); font-family: "serif"; font-size: 150%;}
    p { 
      border: 1px solid silver; 
      padding: 10px;
      }
 